<!-- Navigation/Header -->
<header class="header">
  <div class="logo">
    <a href="/odin-recipes/index.html">
      <img src="/odin-recipes/img/icons8-cutlery-50.png" alt="Cooking Logo">
    </a>
  </div>
  <div class="hamburger" id="hamburger">&#9776;</div>
  <nav class="nav-links" id="navLinks">
    <a href="/odin-recipes/recipes/buffalodip.html">Appetizers</a>
    <a href="/odin-recipes/recipes/zuppa.html">Soups</a>
    <a href="/odin-recipes/recipes/garlicpasta.html">Pastas</a>
    <a href="/odin-recipes/recipes/orzo.html">Entr&eacute;es</a>
  </nav>
</header>
