<!-- Navigation/Header -->
<header class="header">
  <div class="logo">
    <a href="/odin-recipes/index.html">
      <img src="/odin-recipes/img/icons8-cutlery-50.png" alt="Cooking Logo">
    </a>
  </div>
  <div class="hamburger" id="hamburger">&#9776;</div>
  <nav class="nav-links" id="navLinks">
    <a href="/odin-recipes/recipes/buffalodip.html">Buffalo Chicken Dip</a>
    <a href="/odin-recipes/recipes/zuppa.html">Zuppa Toscana </a>
    <a href="/odin-recipes/recipes/garlicpasta.html">Garlic Chicken Pasta</a>
    <a href="/odin-recipes/recipes/orzo.html">Orzo with Sausage</a>
    <a href="/odin-recipes/recipes/steaktacos.html">Steak and Cheese Tacos</a>

  </nav>
</header>

<!-- things to do -->
 <!-- are we keeping genre pages or do we just link recipes? -->
<!-- way to automate adding to menu when we add recipe -->
