/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header section */
.header {
  background-color: #1f2037;
  color: aliceblue;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  margin-left: 20px;
}

.logo img {
  height: 40px;   /* Adjust as needed */
  width: auto;
}

/* Hero section */
.hero {
  background-color: #1f2037;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 40px;
  /* if I want to have this section a different size uncomment the below */
  /* max-width: 1000px; */
  margin:0 auto;
  /* margin-top: 20px; */
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  margin-bottom: 10px;
}

.hero-text p {
  margin-bottom: 20px;
}

.hero-text button {
  padding: 10px 20px;
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Image inside the hero section */
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-image {
    margin-top: 20px;
  }

  .hero-image img {
    max-width: 90%;
  }
}

/* Quote Section */
.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
}

.quote blockquote {
  max-width: 800px;
  font-size: 28px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.6;
}

.quote blockquote p {
  margin: 0;
  /* text-align: center; */
}

.quote blockquote cite {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  color: #1f2937;
}

/* Information/card section */
.info {
    padding: 60px 20px;
    background-color:white;
    color: #333;
}

.info h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.info-cards {
    display:flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    max-width: 150px;
}

.card-image {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px ;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.card p {
    font-size: 14px;
    color: #555 ;
}

@media (max-width: 600px) {
  .info-cards {
    flex-direction: column;
    align-items: center;
  }
 }
  /*stack on smaller screen */ 